<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Parallel Test Suite" parallel="methods" thread-count="2">
    <test name="Skillo Product Tests">
        <classes>
            <class name="tests.LoginTests"/>
            <class name="tests.LogoutTests"/>
            <class name="tests.PostTests"/>
            <class name="tests.ProfileTests"/>
            <class name="tests.RegistrationTests"/>
            <class name="tests.SearchTests"/>
        </classes>
    </test>
</suite>